<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <!-- profile picture -->
    <img class="profile_pic" src="/Assets/images/profile.png" alt="profile picture" />
    <!-- profile picture -->
    <!-- profile text -->
    <div class="about_contents">
      <!-- profile text first section -->
      <div class="cont_t">
        Name: Kyeongbeom Lee
        <br />
        Academic Background: Centennial College
        <br />
        Major: Software Engineering Technology
      </div>
      <!-- profile text first section -->
      <!-- profile text second section -->
      <div class="cont_b">
        <div>INTRODUCTION</div>
        <br />
        Hello, nice to meet you.
        <br />
        I studied at Centennial College for three years in Software Engineering Technology.
        <br />
        It was 6 years ago, I was interested in programming, so I started to study Android with Java.
        <br />
        The Android was beginning, I wanted to study more wide range of programming, so I studied about Web too.
        <br />
        I love coding until now when I have free time I am usually watching IT NEWS, 
        <br /> 
        searching for new skills of coding and reading technical books. 
        <br />
        sometimes, I go camping because it makes me have a more clear mind and gives sparkling ideas.
        <br />
        If you have a chance with me, you can feel my real values.
        <br />
        <a class="resume_link" target="_blank" href="/Assets/resume.pdf">RESUME</a>
      </div>
      <!-- profile text second section -->
    </div>
    <!-- profile text -->
  </main>
  <!-- Main Content -->

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>