<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container main_bg">
    <div class="intro_text">
      <span class="m_txt">Hello, Welcome to my Portfolio Site</span><br/>
      I want to get a job.<br/>
      I will be your slave.<br/>
      So, please pick me up.
    </div>
  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>