<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <!-- Project explanation -->
    <div class="project_contents">
      <!-- Project explanation first paragraph -->
      <div>
        <div class="section">
            <img src="/Assets/images/shopping.png" alt="shopping mall">
        </div>
        <p>
          It's a shopping mall website. 
          The main customers would be 20 to 40 ages women who don't have much time to visit the shopping malls 
          for buying new outfits and shoes or various fashion items. They can buy what they want anywhere right away with the internet. 
          MADE BY ME
        </p>
      </div>
      <!-- Project explanation first paragraph -->
      <!-- Project explanation second paragraph -->
      <div>
        <div class="section">
            <img src="/Assets/images/navigation.png" alt="Navigation I am your guide">
        </div>
        <p>
          This is a navigation application. It is different from other navigation. It offers only searching and navigating the way, 
          also can show you the speed limit on your road. It can keep your safety and your happiness. MADE BY ME
        </p>
      </div>
      <!-- Project explanation second paragraph -->
      <!-- Project explanation third paragraph -->
      <div>
        <div class="section">
            <img src="/Assets/images/weight.png" alt="weight">
        </div>
        <p>
          This is a weight management application. fatty causes fatal diseases so we have to keep healthy. 
          This application helps you to be healthy via balanced schedules. MADE BY ME
        </p>
      </div>
      <!-- Project explanation third paragraph -->
    </div>
    <!-- Project explanation -->
  </main>
  <!-- Main Content -->

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>