<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <!-- Service types first section -->
    <div class="services_content">
      <ul>
        <li>
          <img src="/Assets/images/designs.jpg" alt="Web Designs icon" />
          <br/>
          Web Designs
        </li>
        <li>
          <img src="/Assets/images/laptop.png" alt="Web laptop icon" />
          <br/>
          Web laptop
        </li>
        <li>
          <img src="/Assets/images/reponsive_designs.jpg" alt="Reponsive Designs icon" />
          <br/>
          Reponsive Designs
        </li>
      </ul>
    </div>
    <!-- Service types first section -->
    <!-- Service types seconde section -->
    <div class="services_content">
      <ul>
        <li>
          <img src="/Assets/images/backend_dev.jpg" alt="Edit Sections icon" />
          <br/>
          BackEnd Developer
        </li>
        <li>
          <img src="/Assets/images/database.jpg" alt="Database icon" />
          <br/>
          Databases
        </li>
        <li>
          <img src="/Assets/images/android.jpg" alt="Android icon" />
          <br/>
          Android
        </li>
      </ul>
    </div>
    <!-- Service types seconde section -->
  </main>
  <!-- Main Content -->

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>